.sliding-tab {
    transition: all .3s;
    transform: translateY(0rem);
}

.sliding-tab:hover {
    transform: translateY(-14rem);
}

.sliding-tab:hover .sliding-gradient {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
}